:root {
    --border: #d8ecff;
    --head: #4081bf;
    --lightBlue: #F2F6F9;
    --textColor: #5f81a2;
    --offWhite: #f9f7f7;
    --blueNav: #4c6883;

    /* button colors */
    --blue: #7bbaf9;
    --darkBlue: #0080ff;
    --darkGreen: #1fd199;
    --darkRed: #ff0000;
    --green: #7affd3;
    --red: #ff8989;
}

body,
html {
    color: var(--textColor);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    transform: scale(0.9);
    width: 100vw;
}

* {
    box-sizing: border-box;
}

/* general */
.flexRow {
    align-items: center;
    display: flex;
    justify-content: center;
}

.flexCol {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fullSize {
    height: 100%;
    width: 100%;
}

.fullHeight {
    height: 100%;
}

.fullWidth {
    width: 100%;
}

.noMargins {
    margin: 0;
}

a {
    text-decoration: none;
}

select {
    cursor: pointer;
}

.listGroup {}

.listHeading {
    color: var(--head);
    font-size: 1.6em;
    margin-bottom: 0.2em;
}

.listGroup p {
    margin: 0;
}

.oneLineInfo {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.oneLineInfo p {
    margin: 0;
}

/* width */
*::-webkit-scrollbar {
    width: 4px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: var(--border);
    background: var(--offWhite);
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: var(--head);
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: var(--head);
}

.shadow {
    -webkit-box-shadow: 0 8px 31px -8px rgba(170,170,170,1);
    -moz-box-shadow: 0 8px 31px -8px rgba(170,170,170,1);
    box-shadow: 0 8px 31px -8px rgba(170,170,170,1);
}

.shadowSmall {
    -webkit-box-shadow: 0 0 27px -5px rgba(136,136,136,1);
    -moz-box-shadow: 0 0 27px -5px rgba(136,136,136,1);
    box-shadow: 0 0 27px -5px rgba(136,136,136,1);
}
.activeBtn:active {
    background-color: var(--textColor);
    opacity: 0.08;
}
.activeBtn:active > * {
    color: #fff !important;
}

/* container */
.container {
    width: 100vw;
}

.profileContainer {
    height: 50em;
    width: 64em;
}

/* nav bar */
.navBar {}

/* top */
.top {
    align-items: flex-start;
    border-bottom: 1px solid var(--border);
    padding: 4em 1em 1em;
    width: 100%;
    transform: scale(0.95);
}

.navholder {
    width: 80%;
    margin: 1em auto 0;
}

.editProfileBtn {
    background-color: #fff;
    border-radius: 2em;
    height: 2.3em;
    margin: 0 auto;
    width: 22em;
    -webkit-box-shadow: 0 8px 31px -8px rgba(170,170,170,1);
    -moz-box-shadow: 0 8px 31px -8px rgba(170,170,170,1);
    box-shadow: 0 8px 31px -8px rgba(170,170,170,1);
}

.editProfileBtn > * {
    text-decoration: none;
    color: var(--textColor);
    font-size: 1em;
}

.editProfileBtn a {
    width: 100%;
    text-align: center;
}

/* doctorImage */
.doctorImage {
    border-radius: 50%;
    height: 16em;
    overflow: hidden;
    width: 16em;
}

.doctorImage img {
    height: 100%;
}

/* topRight */
.topRight {
    width: 37em;
}

.topRight > * {
    justify-content: flex-start;
    min-height: 5em;
    padding: 0 3rem;
    width: 100%;
}

/* .doctorName */
.doctorName p {
    color: var(--head);
    font-size: 2.4em;
    font-weight: 600;
    margin: 0;
}

/* topRightTop */
.topRightTop > * {
    flex-grow: 1;
}

.topRightTop p {
    margin: 0;
}

/* topRightBottom */
.topRightBottom {
    align-items: flex-start;
}

.topRightBottom > * {
    height: 100%;
    width: 50%;
}

.topRightBottom > * > p {
    margin: 0;
}

/* bottom */
.bottom {
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 2em;
    transform: scale(0.9);
    padding: 0 2em;
}

.bottom > * {
    padding: 1em 0;
}

/* bottomRight */
.bottomRight {
    width: 60%;
    overflow-y: scroll;
    height: 25em;
}

.bottomLeft {
    width: 40%;
    overflow-y: scroll;
    height: 25em;
}

.bottomRightBody {
    width: 100%;
    align-items: flex-start;
}

.bottomRightBody > * {
    height: 100%;
    width: 50%;
    overflow: hidden;
    margin-right: 0.2em;
}

.even {
    background-color: var(--textColor);
    color: #fff;
}

.bottomRightBody > div > p {
    margin: 0;
    padding: 4px;
}

.bottomLeft {
    padding-left: 3em;
}

.bottomLeftSection {
    width: 18em;
}

.bottomLeftSection > * > p {
    margin: 0.5em 0;
}

/* topRightEdit */
.topRightEdit {
    align-items: flex-start;
    width: 34rem;
    overflow-y: scroll;
    position: relative;
    height: 34em;
}

.topRightEdit.showAdd {
    overflow: hidden;
}

.topRightEditLiner {
    position: absolute;
    top: 0;
}

.topRightEdit > * {
    justify-content: flex-start;
    padding: 0 3rem;
    width: 100%;
}

.addField {
    height: 34em;
    overflow-y: scroll;
    position: absolute;
    width: 34rem;
    background-color: #fff;
    z-index: -10;
    right: 0;
    opacity: 0;
    top: 0;
}

.addField.showAdd {
    z-index: 10;
    opacity: 1;
}

.addField > p {
    font-size: 3em;
    font-weight: 600;
    opacity: 0.8;
}

.ChoiceBtnHolder {
    flex-wrap: wrap;
}

.exampleBox {
    position: relative;
    top: 2em;
}

.example {
    margin: 0;
    font-size: 3em;
    font-weight: 600;
    opacity: 0.8;
}

.fieldChoiceBtn {
    padding: 0 1rem;
    border-radius: 8px;
    margin: 0.5rem;
    cursor: pointer;
    user-select: none;
}

.fieldChoiceBtn p {
    font-size: 1.4rem;
}

.listGroupEdit {
    position: relative;
}

.listGroupEdit > * {
    font-size: 1.4rem;
}

.listGroupEdit > * {
    margin: 0;
}

.listGroupEdit.even {
    background-color: var(--border);
}

.listHeadingEdit {
    justify-content: space-between;
}

.listGroupEdit .listHeadingEdit {
    color: var(--head);
    font-size: 1.6rem;
    margin: 0.2em 0;
}

.listGroupEditChildren {
    /* max-height: 8em;
    overflow-y: scroll; */
}

.rangeBtn {
    font-size: 0.8em;
    margin-left: 1em;
}

.incrementBtn {
    color: #5f81a2;
    margin-right: 1rem;
}
.cancel:hover,
.minus:hover {
    color: #e36f6f;
    cursor: pointer;
}

.cancel,
.plus {
    font-size: 1.4rem;
}
.check:hover,
.plus:hover {
    color: #73c673;
    cursor: pointer;
}

.editSection {
    justify-content: space-between;
}

.editInput {
    background-color: transparent;
    border: 1px solid #5f81a2;
    color: #5f81a2;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4rem;
    font-weight: 100;
    padding: 4px;
    width: 10em;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    outline: 0;
}

.editInput::placeholder {
    color: #5f81a2;
    font-family: 'Roboto Condensed', sans-serif;
}

.check {
    font-size: 1.8rem;
}

.oneLineInfoEdit {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.selectBox {
    background-color: transparent;
    border: none;
    color: #5f81a2;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4rem;
    font-weight: 100;
}

option {
    background-color: #5f81a2;
    color: #fff;
    font-weight: 100;
}
option:hover {
    background-color: #73c673;
}
.same-as-selected,
.select-items div:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* butttons */
.btnBox {
    justify-content: flex-start;
}

.btnBox > * {
    margin-right: 0.6em;
}

.btn {
    border-radius: 5%;
    cursor: pointer;
    display: inline-block;
    height: 1.5rem;
    overflow: hidden;
    position: relative;
    width: 1.5rem;
}

.hoverColor {
    left: -100%;
    position: absolute;
}

.btn p {
    color: #000;
    font-size: 14px;
    margin: 0;
    position: relative;
    text-align: center;
    top: 4px;
    z-index: 2;
}
.btn:hover > .hoverColor {
    bottom: -20%;
    left: -20%;
}

.hoverColor {
    border-radius: 40%;
    bottom: -150%;
    height: 180%;
    left: -150%;
    transition: all 0.3s;
    width: 150%;
}

.greenBtn {
    /* background-color: var(--green); */
}

.greenBtn .hoverColor {
    /* background-color: #fff; */
    background-color: var(--green);
}

.redBtn {
    /* background-color: var(--red); */
}

.redBtn .hoverColor {
    /* background-color: #fff; */
    background-color: var(--darkRed);
}

.blueBtn {
    /* background-color: var(--blue); */
}

.blueBtn .hoverColor {
    /* background-color: #fff; */
    background-color: var(--darkBlue);
}

/* RangeSlider */
.slidecontainer {
    background-color: #fff;
    /* border: 1px solid var(--blue); */
    font-size: 1rem;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 100%;
    width: 10rem;
    z-index: 200;
}

.rangeSlider {
    cursor: pointer;
}

.submitRangeBtn {
    background-color: #fff;
    border-radius: 2px;
    color: var(--textColor);
    margin-bottom: 1em;
    padding: 0.4em;
    transition: all 0.2s;
    cursor: pointer;
}
.submitRangeBtn:hover {
    /* background-color: var(--textColor);
    color: #fff;
    opacity: 0.6; */
}

.submitRangeBtn p {
    margin: 0;
}

.slider {
    -webkit-appearance: none;
    -webkit-transition: 0.2s;
    background: #7bbaf9;
    border-radius: 10px;
    height: 6px;
    margin: 1em 0;
    opacity: 0.7;
    outline: none;
    width: 100%;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #0080ff;
    border-radius: 2px;
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.slider::-moz-range-thumb {
    background: #0080ff;
    cursor: pointer;
    height: 25px;
    width: 25px;
}

/* searcg bar */
.searchBar {
    background-color: #fff;
    border-radius: 1em;
    height: 2.3em;
    margin: 2.8em auto;
    width: 34em;
    -webkit-box-shadow: 0 10px 31px -8px rgba(170,170,170,1);
    -moz-box-shadow: 0 10px 31px -8px rgba(170,170,170,1);
    box-shadow: 0 10px 31px -8px rgba(170,170,170,1);
}

.searchBar .searchBtn {
    border-radius: 50%;
    color: var(--textColor);
    font-size: 0.8em;
    height: 2em;
    margin: 1em;
    width: 2em;
}

.searchBar input {
    background-color: transparent;
    border: none;
    color: var(--textColor);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    height: 100%;
    margin-right: 1em;
    outline: none;
    padding-left: 1.4rem;
    width: 100%;
}

.searchBar input::placeholder {
    color: var(--textColor);
}

.searchProfile {
    height: 45em;
    overflow-y: scroll;
}

.searchProfile .top {
    transition: all 0.5s;
}

.doctorImage img {
    transition: all 0.5s;
}
.searchProfile .top:hover > .doctorImage img {
    transform: scale(1.1);
}

/* addNewFieldBtn */
.addNewFieldBtn {
    border-radius: 50%;
    color: var(--textColor);
    cursor: pointer;
    height: 8em;
    margin-top: 2em;
    width: 8em;
    user-select: none;
}

.addNewFieldBtn p {
    font-size: 2em;
    margin: 0;
}
